html,body {
    height:100%;
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(89, 21, 153);

}

.container {
    display:table;
    width:100%;
    height:100%;
}

.menu-area {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
   
}

a{
    font-weight:600;
    float:left;
    width:200px;
    margin:30px;
    color:#fff;
    font-size:36px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.nav a:hover {
    color:cyan;
    font-style: italic;

}

.nav a:before,
.nav a:after {
    content:'';
    border-bottom: solid 3px pink;
    position: absolute;
    width:0;
    bottom:0;
}


.nav a:before {
    left:0;

}


.nav a:after {
    right:0;
}


.nav a:hover:before,
.nav a:hover:after {
    width:50%;
    transition: all .8s ease;
}